
{% extends 'base.html'%}
<body>
{% block content %}
	<div style="height: auto;"class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="col-md-4">
             <br>
          <div class="box  direct-chat direct-chat-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Chat Messages</h3>

                  <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="" class="badge bg-primary" data-original-title="3 New Messages">20</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                      <i class="fa fa-comments"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
              
                <div class="box-body">
                  
                  <div class="direct-chat-messages">
                    
                    
                   <!--  <div class="direct-chat-msg">
                     <div class="direct-chat-info clearfix">
                       <span  class="direct-chat-name pull-left">Timona Siera</span>
                       <span id="gpt-timestamp" class="direct-chat-timestamp pull-right">
                         
                       </span>
                     </div>
                                
                     
                     <div id="gpt-message-display" class="direct-chat-text">
                       
                     </div>
                    -->
                    </div>      
                  
                  

<!--                     <div class="direct-chat-msg right">
  <div class="direct-chat-info clearfix">
             <span class="direct-chat-name pull-right">Sarah Bullock</span> -->
          <!-- for displaying time -->
                    <!-- <span class="direct-chat-timestamp pull-left"> </span>
                      </div>
                      -->
          
<!-- for displaying input data -->
                      <!-- <div id="message-display" class="direct-chat-text">
                        
                      </div>
                                          
                                          </div> -->

            
            
            
                  </div>
                 
                </div>
               
          <div class="box-footer">

                <div class="input-group">
          <input type="text" name="prompt" placeholder="Type Message (<=20 words) ..." id="message-input" class= "form-control">
                      <span class="input-group-btn">
         <input style="color:white;"type="submit" id="send-btn" class=" btn small bg-primary rounded-2 shadow-smform-control" value="send">
                          </span>
                    </div>
                  
                </div>
             
              </div>
           
            </div>
             </div>
            
              </div>
             
            </div>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{url_for('static', filename='scripts.js')}}"></script>

{% endblock content%}
</body>

